<!DOCTYPE html>
{{block}}
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../static/tela_icones.css">
        <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet"> 
    </head>
    <body>
        <div class="center">
            <p ><img  id="borda" src="{{imagens}}" width="25%" height="40%"></p>
            <h1>Conectado  : {{usuario}}</h1>
            <button class="botao">Voltar Home</button>
            
        </div>
    </body>
</html>
{{endblock}}